.chat_intro {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid #4adf83;
}

.chat_intro img {
    width: 250px;
    height: auto;
}

.chat_intro h1 {
    font-size: 32px;
    color: #525252;
    font-weight: normal;
    margin-top: 30px;
}

.chat_intro h2 {
    font-size: 23px;
    color: #777;
    font-weight: normal;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;
}

.chat_intro h4 {
    width: 50%;
    font-size: 14px;
    color: #777;
    font-weight: normal;
    margin-top: 20px;
    line-height: 20px;
    text-align: left;
    padding: 0 20px;
}
